*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body styling*/

body{
    height:100vh;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/*section grid styling*/

section {
    display: grid;
    grid-template-columns: repeat(6, 12rem);
    grid-template-rows: repeat(5, 12rem);
}

/*front, back styling*/

.front, .back {
    height: 100%;
    width: 100%;
}